{% if paginate.pages > 0 %}
  <nav class="my-12" role="navigation">
    <ul class="font-medium text-gray-400 list-none flex gap-4">
      {% if paginate.previous %}
        <li class="hover:text-gray-800 p-2 bg-slate-100 border">
          <a href="{{ paginate.previous.url }}">Previous</a>
        </li>
      {% endif %}

      {% for part in paginate.parts offset: paginate.current_page-2 limit: 5 %}
        {% if part.is_link %}
          <li class="hover:text-gray-800 p-2">
            <a href="{{ part.url }}">{{ part.title }}</a>
          </li>
        {% else %}
          <li class="text-gray-800 p-2">
            {{ part.title }}
          </li>
        {% endif %}

      {% endfor %}


      {% if paginate.next %}
        <li class="hover:text-gray-800 p-2 bg-slate-100 border">
          <a href="{{ paginate.next.url }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}