<nav class="p-5 xl:px-44 bg-slate-100 text-base font-medium text-neutral-900 shadow-md">
  <div class="grid grid-cols-2 lg:grid-cols-3">
    <div class="md:flex justify-start">
      <a class="hover:opacity-50 transition duration-300 ease-in-out" href="{{ shop.url }}">{{ section.settings.header_title }}</a>
    </div>
    <div class="hidden lg:flex justify-center gap-6 text-neutral-600">
      {% for link in linklists[section.settings.header_menu].links %}
        {% if link.links != blank %}
          <div>
            <button
              id="link-item-{{ link.handle }}"
              class="menu-dropdown-item text-left"
              onclick="menuDropdownHandler(this.id)">
              <a class="hover:text-neutral-400">
                {{ link.title }}
                {% render 'icon-dropdown' %}
              </a>
              <div class="sublinks-dropdown hidden flex-col gap-3 mt-3 text-neutral-600">
                {% for sublink in link.links %}
                  <a class="hover:text-neutral-400" href="{{ sublink.url }}">
                    {{- sublink.title -}}
                  </a>
                {% endfor %}
              </div>
            </button>
          </div>
        {% else %}
          <div>
            <a class="hover:text-neutral-400" href="{{ link.url }}">
              {{ link.title }}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="hidden lg:flex justify-end gap-6 text-neutral-600">
      <button type="button" class="search-button">{% render "icon-search" %}</button>
      <a class="hover:text-neutral-400" href="{{ routes.cart_url }}">{% render 'icon-shopping-bag' %}</a>
      {% if shop.customer_accounts_enabled %}
        <a class="hover:text-neutral-400" href="{{ routes.account_login_url }}">Login</a>
        <a class="hover:text-neutral-400" href="{{ routes.account_register_url }}">Register</a>
      {% endif %}
    </div>

    <div class="flex gap-5 lg:hidden items-center justify-end text-neutral-600">
      <button type="button" class="search-button">{% render "icon-search" %}</button>
      <a class="hover:text-neutral-400" href="{{ routes.cart_url }}">{% render 'icon-shopping-bag' %}</a>
      <button id="menu-open-icon" class="hover:text-neutral-400">
        {% render 'icon-menu' %}
      </button>
      <button id="menu-close-icon" class="hidden hover:text-neutral-400">
        {% render 'icon-menu-close' %}
      </button>
    </div>
  </div>

  <!-- MOBILE LINKS -->
  <div id="mobile-links" class="flex flex-col items-center bg-slate-100 w-full max-h-screen absolute left-0 right-0 top-16 bottom-0 scale-0 transition ease-in duration-200 origin-top-right z-10 lg:hidden gap-7 mt-5 px-5 py-10 shadow text-lg text-neutral-600">
    {% for link in linklists[section.settings.header_menu].links %}
      {% if link.links != blank %}
        <button
          id="link-item-{{ link.handle }}-m"
          class="menu-dropdown-item text-left"
          onclick="menuDropdownHandler(this.id)">
          <a class="hover:text-neutral-400">
            {{ link.title }}
            {% render 'icon-dropdown' %}
          </a>
          <div class="sublinks-dropdown hidden flex-col gap-3 mt-3 ml-3">
            {% for sublink in link.links %}
              <a class="hover:text-neutral-400" href="{{ sublink.url }}">
                {{- sublink.title -}}
              </a>
            {% endfor %}
          </div>
        </button>
      {% else %}
        <a class="hover:text-neutral-400" href="{{ link.url }}">
          {{ link.title }}
        </a>
      {% endif %}
    {% endfor %}
    {% if shop.customer_accounts_enabled %}
      <a class="hover:text-neutral-400" href="{{ routes.account_login_url }}">Login</a>
      <a class="hover:text-neutral-400" href="{{ routes.account_register_url }}">Register</a>
    {% endif %}
  </div>
</nav>
<div class="relative">
  <div id="search-bar" class="w-full p-5 md:px-44 bg-slate-100 text-base text-neutral-900 shadow-md scale-0 transition ease-in duration-200 origin-top absolute">
    <form
      class="flex gap-2 items-center"
      action="{{ routes.search_url }}"
      method="get">
      <input
        name="q"
        type="search"
        class="py-2 px-4 w-full focus:outline-none"
        placeholder="Search">
      <button class="bg-gray-700 hover:bg-gray-500 px-5 py-2 text-white" type="submit">Search
      </button>
    </form>
  </div>
</div>


{% schema %}
  {
    "name": "Nav bar",
    "settings": [
      {
        "type": "text",
        "id": "header_title",
        "label": "Title",
        "default": "Shop name",
        "info": "This is the title of the store"
      }, {
        "type": "link_list",
        "id": "header_menu",
        "label": "Header menu",
        "default": "main-menu",
        "info": "This is to define the menu in the header"
      }
    ]
  }
{% endschema %}