{% comment %}
  This for loop checks each block from the schema blocks and and renders the html for each case
{% endcomment %}
<article class="font-medium" itemscope itemtype="http://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
        <section class="grid grid-cols-1 md:grid-cols-2 p-10 md:p-20">
          <div>
            <a class="text-base font-bold uppercase text-gray-500 hover:text-gray-900 " href="{{ blog.url }}">
              {{- blog.title -}}
            </a>
            <h1 class="text-3xl md:text-5xl mt-2" itemprop="headline">{{ article.title }}</h1>
          </div>
        </section>
      {% when 'article_author' %}
        {% if section.settings.enable_author %}
          <section class="text-base px-10 py-2 md:px-44" itemscope itemtype="http://schema.org/Person">
            <p itemprop="author">{{ article.author }}</p>
          </section>
        {% endif %}

      {% when 'article_date' %}
        {% if section.settings.enable_date %}
          <section class="text-base px-10 py-2 md:px-44">
            <time datetime="{{ article.published_at | date: "%Y-%m-%d" }}" itemprop="datePublished dateCreated">
              {{- article.published_at | date: '%Y-%m-%d' -}}
            </time>
          </section>
        {% endif %}

      {% when 'article_image' %}
        {% if article.image != blank %}
          <img
            class="w-full h-64 md:h-80 bg-cover object-cover object-center"
            src="{{ article.image | image_url }}"
            alt="{{ article.image.alt }}"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            itemprop="image"
          >
        {% else %}
          {% assign placeholder_image = 'lifestyle-2' %}
          {{ placeholder_image | placeholder_svg_tag: 'w-full h-64 md:h-80 bg-cover object-cover object-center' }}
        {% endif %}

      {% when 'article_content' %}
        <section class="text-lg p-10 md:px-44">
          <p itemprop="articleBody">{{ article.content }}</p>
        </section>

      {% else %}

    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <section id="comments" class="my-8 p-10 md:px-44 font-medium">
    {% if article.comments_count > 0 %}
      <h2 class="text-xl md:text-2xl mb-4">See what people are saying</h2>
      {% paginate article.comments by 3 %}
        {% for comment in article.comments %}
          <div class="flex-1 items-center justify-center p-3 md:p-6 text-sm leading-relaxed border mb-2">
            <span>{{ comment.author }}</span>
            <span class="text-xs text-gray-400">{{ comment.created_at | date: format: 'date' }}</span>
            <p>{{ comment.content }}</p>
          </div>
        {% endfor %}
        <div>
          {% render 'pagination', paginate: paginate %}
        </div>
      {% endpaginate %}
    {% else %}
      <div class="my-4">Be the first to comment.</div>
    {% endif %}
  </section>
  <section id="comment-form" class="my-8 p-10 md:px-44">
    {% form 'new_comment', article %}
      <div class="my-3 py-5 text-sm">
        {% if form.errors %}
          <div class="flex flex-row items-center w-full">
            <div class="text-red-500">
              {% render 'icon-error' %}
            </div>
            <div class="ml-3">Your comment was not posted.</div>
          </div>
          <ul class>
            {% for error in form.errors %}
              <li>{{ form.errors.messages[error] }}</li>
            {% endfor %}
          </ul>
        {% elsif form.posted_successfully? %}
          <div class="flex flex-row items-center w-full">
            <div class="text-green-500">
              {% render 'icon-success' %}
            </div>
            <div class="ml-3">Comment posted successfully</div>
          </div>
        {% endif %}
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label for="comment_author" class="text-gray-500 uppercase text-sm">Name</label>
          <input
            name="comment[author]"
            type="text"
            id="comment_author"
            placeholder="Your name"
            class="w-full p-2 border mt-2"
            required
          >
        </div>
        <div>
          <label for="comment_email" class="text-gray-500 uppercase text-sm">Email</label>
          <input
            name="comment[email]"
            type="email"
            id="comment_email"
            placeholder="Your email"
            class="w-full p-2 border mt-2"
            required
          >
        </div>
      </div>
      <div class="w-full mt-4">
        <label for="comment_content" class="text-gray-500 uppercase text-sm">Comment</label>
        <textarea
          name="comment[body]"
          id="comment_content"
          class="w-full p-2 border mt-2 resize-none"
          required
        ></textarea>
      </div>
      <div class="w-full mt-4">
        <input
          type="submit"
          id="comment_content"
          class="w-full p-2 mt-2 bg-gray-700 text-white cursor-pointer hover:bg-gray-400"
          value="Post comment"
          required
        >
      </div>
    {% endform %}
  </section>
{% endif %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ article.title | json }},
    "articleBody": {{ article.content | strip_html | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt |strip_html |json }},
    {% endif %}
    {% if article.image %}
      "image": [{{article.image | image_url: "medium" | prepend: "https:" | json}}]
    {% endif %}}
    "datePublished": {{ article.published_at | date: format: "default" | json }},
    "dateCreated": {{ article.created_at | date: format: "default" | json }},
    "author": {
      "@type": Person,
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json}}
    }
  }
</script>

{% schema %}
{
  "name": "Article Template",

  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "default": true,
      "label": "Display Author name",
      "info": "Display the author name"
    },
    {
      "type": "checkbox",
      "id": "enable_date",
      "default": true,
      "label": "Display article date",
      "info": "Display the article date"
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_date",
      "name": "Date",
      "limit": 1
    },
    {
      "type": "article_image",
      "name": "Image",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}
